{% extends 'base.html' %}

{% block content %}


<div class="card-detail">
   
      <h1> {{ card.word }}</h1>

        {% for photo in card.photo_set.all %}
        <img class="" src="{{photo.url}}">
        {% empty %}
        <div class="img-text">No Photos Uploaded</div>
        {% endfor %}

        <a href="{% url 'cards_update' card.id %}" class="red-text">Edit Word</a>
        <br />
        <a href="{% url 'cards_delete' card.id %}" class="red-text">Delete Word</a>

        <form action="{% url 'add_photo' card.id %}" enctype="multipart/form-data" method="POST" class="card-panel ">
            {% csrf_token %}
            <input type="file" name="photo-file" />
            <br /><br />
            <input type="submit" class="orange darken-1" value="Upload Photo" />
        </form>
    
</div>

{% endblock %}