{% extends 'base.html' %}

{% block content %}

{% block additional_styles %}
<style>
    body {
        background-image: url(https://i.imgur.com/6LiL524.png);
    }
</style>
{% endblock %}

<h1>Words</h1>
{% for card in object_list %}
<div class="row">
    <div class="col s12">
        
            <a href="{% url 'cards_detail' card.id %}">
                <div class="card-panel hoverable">
                    <h2> {{ card.word }}</h2>
                </div>
            </a>
            {% endfor %}
        
    </div>
</div>

{% endblock %}