{% extends 'base.html' %} {% block content %}

<div class="about">
    <h1>About</h1>
    <p>Vocabulary is a key factor in the development of a childs reading and writing skills.  
        Vocabulary increases knowledge, reading comprehension, a person's ability to communicate, 
        the probability of academic and career success, life skills, and enhances critical thinking skills.
        I homeschool my children and  my son is not a fan of flashcards.  I created this app because he enjoys
        looking at things on electronic devices, and we have more success on his spelling tests after he reviews the words online. 

    </p>
</div>
{% endblock %}