{% extends 'base.html' %} {% block content %}

{% block additional_styles %}
<style>
    body {
        background-image: url(https://i.imgur.com/aQfHz3d.png);
    }
</style>
{% endblock %}


    <div class="row">
        <div class="col s12">
            <div class="card">
                <h1>{{ category.name }} Grade Level:{{ category.gradelevel }}</h1>
                <div class="card-action red">
                    <a href="{% url 'categories_update' category.id %}">Edit Name or Grade Level</a>
                    <br />
                    <a href="{% url 'categories_delete' category.id %}">Delete Category</a>
                </div>
            </div>
        </div>

        <div class="col s6">
            <h3>{{ category.name }}'s Words</h3>
            {% if category.cards.count %} {% for card in category.cards.all %}
            <div class="card">
                <span>
                    {{ card.word }}</span>
                </span>
            </div>
            {% endfor %} {% else %}
            <h5>No words :(</h5>
            {% endif %}
        </div>
    </div>



{% endblock %}