$nav-height: 60px;
$nav-background: #ffdf2b;
$nav-font-color: #000000;
$link-hover-color: #fa0404;
$breakpoint: 799px;
$foot-background: black;
$foot-font-color: white;
$grid__bp-md: 768;


@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    background-image: url(https://i.imgur.com/YJD3WDB.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
        color: #000000
    }
    main {
        flex: 1 0 auto;
      }

}

.nav {
    height: $nav-height;
    background: $nav-background;
}

.nav-container {
    margin: 0 auto;
}

.logo {
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.8em;

}

nav {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-family: 'Archivo Black', sans-serif;
            font-size: 1rem;
            float: left;
            position: relative;

            a {
                display: block;
                padding: 10px 20px 0 20px;
                line-height: 50px;
                background: $nav-background;
                color: $nav-font-color;
                text-decoration: none;

                &::before {
                    transition: 300ms;
                    height: 5px;
                    content: "";
                    position: absolute;
                    background-color: $link-hover-color;
                    width: 0%;
                    bottom: 0px;
                }

                &:hover::before {
                    width: 70%;
                }

            }
        }
    }
}


@media only screen and (max-width: $breakpoint) {
    nav {
        width: 100%;
        padding: $nav-height 0 15px;

        ul {
            display: none;

            li {
                float: none;

                a {
                    padding: 15px;
                    line-height: 20px;

                    &:hover::before {
                        width: 20%;
                    }
                }

                ul li a {
                    padding-left: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint) {
    .nav-list {
        display: block !important;
    }
}

.home {
    margin: 375px;
    width: 350px;
    height: 65px;

    h1 {
        font-size: 90px;
        text-align: center;
        padding: 0;
    }

    h2 {
        font-size: 70px;
        font-family: 'Dancing Script', cursive;
        text-align: center;
        color: red;
    }
}

.about {
    padding-top: 300px;
    width: 1000px;
    height: 88vh;

    h1 {
        font-size: 70px;
    }
}

.c-index {
    width: 1000px;

    h1 {    
        font-size: 50px;
        color: white;
        text-shadow: 3px #000000;
    }
    h2 {
        font-size: 20px;
    }

}

.card-add {
    padding-top: 350px;
    width: 900px;
    height: 60px;

    h1 {
        font-size: 80px;
    }

    form {
        font-size: 15px;
    }

    input {
        font-size: 15px;
    }
}

.c-detail {
    margin: 100px;
    width: 350px;
    height: 65vh;

    h1 {
        font-size: 50px;
    }

    form {
        font-size: 15px;
    }

    input {
        font-size: 15px;
    }

    row {
        width: 150px;
        height: 30px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    column {
        flex-basis: (100/6) * 1%;
    }
}

.card-detail {
    padding-top: 250px;
    width: 350px;
    height: 65vh;

    h1 {
        font-size: 90px;
    }

    form {
        font-size: 15px;
    }

    input {
        font-size: 15px;
    }
}

.img-text {
    font-size: 15px;
}

a {
    font-size: 15px;
}

.c-form {
    padding-top: 380px;
    width: 800px;
    height: 60px;

    h1 {
        font-size: 50px;
        display: inline;
    }

    form {
        font-size: 15px;
    }

    input {
        font-size: 15px;
    }
}

.c-delete {
    padding-top: 300px;
    width: 900px;
    height: 60px;

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 30px;
    }

    input {
        font-size: 20px;
    }
}


.signup {
    padding-top: 205px;
    width: 900px;
    height: 60px;

    h1 {
        font-size: 50px;
    }

    form {
        font-size: 15px;
    }

    input {
        font-size: 15px;
    }
}


.login {
    padding-top: 250px;
    width: 500px;
    height: 60px;

    h1 {
        font-size: 60px;
    }

    form {
        font-size: 25px;
    }

    input {
        font-size: 20px;
    }
}


footer {
    height: $nav-height;
    background: $foot-background;
    color: $foot-font-color;
    text-align: center;
    font-size: 1.2rem;

}