{% extends 'base.html' %} {% block content %}

{% block additional_styles %}
<style>
   body {
    background-image: url(https://i.imgur.com/vxNoItD.png);
   }
</style>
{% endblock %}


<div class="c-form">
{% if object %}
<h1>Edit <span>{{object.name}}</span></h1>
{% else %}
<h1>Add Category</h1>
{% endif %}
<form action="" method="post">
 
  {% csrf_token %}
  <table>
   
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" class="btn blue white-text" />
</form>
</div>
{% endblock %}
